a:hover {
    color: green;
    border-bottom: 1px solid white;
}

.banner::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 0;
}

.banner {
    position: relative;
}

.banner>* {
    z-index: 10;
    position: relative;
}

.banner {
    background-image: url(/images/black-phone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 533px;
    padding: 20vh 0;
    text-align: center;
}

.content {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 20px;
}

.benefits {
    padding: 20px;
    height: 200px;
    margin-right: 10px;
    text-align: center;
}

.steps img {
    border: 2px solid;
    padding: 10px;
    color: blue;
    font-size: 30px;
    background-color: black;
    border-radius: 50%;
}

.card-text {
    color: black;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

.about-us {
    padding: 10vh 0;
    text-align: center;
}

footer {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    color: white;
    text-align: center;
    word-spacing: 0.5rem;
}